@page "/favoritos"
@using MBA.Modulo2.Spa.ExternalApi
@using MBA.Modulo2.Spa.ViewModels
@using Microsoft.AspNetCore.Authorization
@using MBA.Modulo2.Spa.Components
@attribute [Authorize]
@inject FavoritoHttpClient FavoritoApi

<PageTitle>Lista de Produtos Favoritos</PageTitle>

@if (favoritos == null)
{
    <p>Carregando produtos favoritados...</p>
}
else if (favoritos.Count == 0)
{
    <CardComponent>
        <Titulo>
            PRODUTOS FAVORITOS
        </Titulo>

        <Corpo>
            <div style="text-align: center; padding: 20px;">
                <strong style="font-size: 18px; color: #888;">Você ainda não adicionou nenhum produto aos seus favoritos.</strong><br />
                <span style="font-size: 16px; color: #aaa;">Explore os produtos e toque no coração para marcar seus favoritos!</span>
                <br><br>
                <a href="/Produto" class="btn btn-primary btn-sm">
                    Ver Produtos
                </a>
            </div>
        </Corpo>
    </CardComponent>
}
else
{
    var imagePath = $"https://localhost:7009/images/";

    <CardComponent>
        <Titulo>
            PRODUTOS FAVORITOS
        </Titulo>
        <Corpo>
            <div class="card mb-3 w-100">
                <div class="card-body">
                    <div class="row">
                        @foreach (var fav in favoritos)
                        {
                            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                                <div class="card h-100">
                                    <img src="@($"{imagePath}{fav.Produto.Imagem}")" class="card-img-top" alt="@fav.Produto.Nome" style="object-fit: cover; height: 200px;" />
                                    <div class="card-body d-flex flex-column">
                                        <h5 class="card-title">@fav.Produto.Nome</h5>
                                        <p class="card-text">@fav.Produto.Descricao</p>
                                        <p><strong>Preço:</strong> @fav.Produto.Preco.ToString("C")</p>
                                        <p><strong>Estoque:</strong> @fav.Produto.Estoque</p>
                                        <a class="btn btn-primary mt-auto" href="/produtoDetail/@fav.Produto.Id">Ver Detalhes</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </Corpo>
    </CardComponent>


}

@code {
    private List<FavoritoDoClienteViewModel> favoritos;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            favoritos = await FavoritoApi.PegarosFavoritos();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Erro ao buscar produtos: {ex.Message}");
            favoritos = new List<FavoritoDoClienteViewModel>();
        }
    }
}