@using MBA.Modulo2.App.ViewModels
@model IEnumerable<ProductViewModel>

@{
    ViewData["Title"] = "Index";
}
<br />
<br />
<br />
<br />
<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="card mb-10">
            <div class="card-header">
                <div class="form-group" style="display: flex; justify-content: space-between;">
                    <div><h3>Products</h3></div>
                    <div><a class="btn btn-primary" asp-action="Create">Create New</a></div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width:20%; text-align:center">@Html.DisplayNameFor(model => model.Name)</th>
                            <th style="width:30%; text-align:center">@Html.DisplayNameFor(model => model.Description)</th>
                            <th style="width:5%; text-align:center">@Html.DisplayNameFor(model => model.Price)</th>
                            <th style="width:5%; text-align:center">@Html.DisplayNameFor(model => model.Stock)</th>
                            <th style="width:15%; text-align:center">@Html.DisplayNameFor(model => model.Category)</th>
                            <th style="width:10%; text-align:center">@Html.DisplayNameFor(model => model.Image)</th>
                            <th style="width:15%; text-align:center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="align-middle">
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                                <td>@Html.DisplayFor(modelItem => item.Stock)</td>
                                <td>@Html.DisplayFor(modelItem => item.Category.Name)</td>
                                <td><img src="~/images/@Html.DisplayFor(model => item.Image)" alt="Product Image" style="width: 150px; height: auto;" /></td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                    @if (TempData["Erro"] != null)
                    {
                        <tbody>
                            <tr>
                                <td colspan="3">
                                    <div class="alert alert-danger" style="white-space: pre-line;">
                                        @TempData["Erro"]
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        TempData["Erro"] = null;
                    }
                </table>
            </div>
        </div>
    </div>
</div> 
